.content {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-food {
  width: 70%;
  height: 100%;
  padding: 2rem 2rem 1rem 2rem;
}

@media screen and (max-width: 1550px) {
  .content {
    width: 60vw;
  }
}

@media screen and (max-width: 1000px) {
  .edit-food {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 750px) {
  .content {
    width: 85vw;
  }

  .edit-food {
    width: 90%;
  }
}
