<div class="login">
  <div class="login-box">

    <cc-card>
      <div class="cc-p-md h-100">

        <h2 class="cc-color-green-light1 cc-text-weight-500" style="text-align: center;">Log In</h2>

        <div class="h-100 cc-display-f cc-ai-center cc-jc-center">
          <div style="text-align: center; flex: 1">

            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Email">
            </mat-form-field>

            <mat-form-field class="cc-pb-lg">
              <input
                type="text"
                matInput
                placeholder="Password">
            </mat-form-field>

            <cc-button-solid
              text="Log In"
              textColor="white"
              backgroundColor="green-light1">
            </cc-button-solid>

            <p class="cc-mt-lg cc-text-style-italic cc-color-grey">
              Do not have an account?
              <a class="cc-color-green-light1"> Register</a>
            </p>

          </div>
        </div>

      </div>
    </cc-card>

  </div>
</div>
